@CHARSET "ISO-8859-1";

.slide-left.ng-enter,
.slide-left.ng-leave {
	-webkit-transition: 1s;
	transition: 1s;
}

.slide-left.ng-enter {
	left: -100%;
}

.slide-left.ng-enter-active {
	left: 0;
}

.slide-left.ng-leave {
	opacity: 1;
}

.slide-left.ng-leave-active {
	opacity: 0;
}