body {
	background-color: #FFF4C6;
}

.container {
  	margin-bottom: 20px;
  	width: 600px;
}

.controls {

}

.initiative {	
	margin: 10px 5px;
}

.initiative_init {
	display: block;
	float: left;
	position: relative;
	z-index: 999;
}

.initiative_name {
	background-color: #FFCA96;
	border: 2px solid black;
	display: block;
	font-size: 30px;
	position: relative;
	top: 26px;
	z-index: 10;
}

.initiative_delete {
	float: right;	
}

.new_initiative_fields {
	margin-bottom: 5px;
}

.inline {
	display: inline;
}

/* Utitility classes */

.clear {
	clear: both;
}

.spacing {
	margin-top: 10px;
}

/* make enter animation shorter than default */
:not(.no-enter)#toast-container > div.ng-enter
{
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}



/* no hover on mobile, change some rules for non-hover */
#toast-container > div {
    padding: 1.2rem 1.2rem 1.2rem 50px;

    /* bit more radius than default */
    -moz-border-radius: 2rem;
    -webkit-border-radius: 2rem;
    border-radius: 2rem;

    /* bit more visibility than default */
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);

    /* smaller font */
    font-size: 12pt;

}