body {
	background-color: #FFF4C6;
}

.container {
  	margin-bottom: 20px;
  	width: 600px;
}

.controls {
	background-color: #FFCA96;
	border: 2px solid black;
	margin-bottom: 50px;
	padding: 5px 10px;	
}

.initiative {	
	margin: 10px 5px;
}

.initiative_init {
	display: block;
	float: left;
	position: relative;
	z-index: 999;
}

.initiative_name {
	background-color: #FFCA96;
	border: 2px solid black;
	display: block;
	font-size: 30px;
	position: relative;
	top: 26px;
	z-index: 10;
}

.initiative_delete {
	float: right;	
}

.inline {
	display: inline;
}

/* Utitility classes */

.clear {
	clear: both;
}

.spacing {
	margin-top: 10px;
}