<div class="container">
  <h3>Campaign Codex Combat Tracker</h3>
  <hr>
  <form class="form-inline" role="form" ng-submit="addInitiative()">
  	<div class="form-group">
  		<div class="input-group">
  			<label class="sr-only" for="newInitiative.name">Enter name</label>
  			<input type="text" ng-model="newInitiative.name" placeholder="Enter name" class="form-control">
  		</div>
  		<div class="input-group">
  		<label class="sr-only" for="newInitiative.init">Enter init</label>
  			<input type="text" ng-model="newInitiative.init" placeholder="Enter init" class="form-control">
  		</div>
  		<div class="input-group">
  			<label class="sr-only" for="newInitiative.type">Type</label>
  			<input type="radio" name="type" value="PC"> PC <input type="radio" name="type" value="monster"> Monster
  		</div>
  		<div class="input-group">
  			<input type="submit" class="btn btn-success" value="Add">
  		</div>  		  		
  	</div>
  </form>
  
  <hr>
  
  <div ui-sortable ng-model="combat">
	  <p class="input-group" ng-repeat="initiative in combat" style="padding: 5px 10px; cursor: move;">
	  	<input type="text" ng-model="initiative" class="form-control">
	  	<span class="input-group-btn">
	  		<button class="btn btn-danger" ng-click="removeInitiative($index)" aria-label="Remove">X</button>
	  	</span>
	  </p>
  </div>
</div>