<div class="container">
  <h3>CampaignCodex Combat Tracker</h3>
  <hr>
  <form role="form" ng-submit="addInitiative()">
  	<div class="row">
  		<div class="input-group">
  			<input type="text" ng-model="newInitiative" placeholder="Add a combatant" class="form-control">
  			<span class="input-group-btn">
  				<input type="submit" class="btn btn-primary" value="Add">
  			</span>
  		</div>
  	</div>
  </form>
  
  <hr>
  
  <div ui-sortable ng-model="combat">
	  <p class="input-group" ng-repeat="initiative in combat" style="padding: 5px 10px; cursor: move;">
	  	<input type="text" ng-model="initiative" class="form-control">
	  	<span class="input-group-btn">
	  		<button class="btn btn-danger" ng-click="removeInitiative($index)" aria-label="Remove">X</button>
	  	</span>
	  </p>
  </div>
</div>